# 6.1 Cleaning Data PART2

## Importing libaries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

## Loading Data

In [2]:
# Assign path variable
path = '/Users/mariamaske/World Happiness Data/02 Data/Prepared Data'

In [3]:
# loading the complete dataframe
# Join path Happiness_data_complete.csv
df = pd.read_csv(os.path.join(path,'Happiness_data_complete.csv'), index_col = False)

## Check for Data Consistency, Duplicates, Missings Values ...

In [4]:
df.shape

(1471, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  1471 non-null   int64
 1   Country                                     1471 non-null   object
 2   Region                                      1471 non-null   object
 3   Happiness Rank                              1471 non-null   int64
 4   Happiness Score                             1471 non-null   object
 5   Standard Error                              316 non-null    float64
 6   Economy (GDP per Capita)                    1352 non-null   float64
 7   Social Support                              1352 non-null   float64
 8   Health (Life Expectancy)                    1352 non-null   float64
 9   Freedom                                     1352 non-null   float64
 10  Trust (Government Corruption)               1351 non-null   float64
 11  Generosity                                  1352 non-null   float64
 12  Dystopia Residual                           1172 non-null   object
 13  Year                                        1471 non-null   int64
 14  Lower Confidence Interval                   856 non-null    object
 15  Upper Confidence Interval                   856 non-null    object
 16  _merge                                      696 non-null    object
 17  Standard error of Happiness score           431 non-null    float64
 18  Dystopia score                              431 non-null    float64
 19  Explained by: Log GDP per capita            431 non-null    float64
 20  Explained by: Social support                550 non-null    object
 21  Explained by: Healthy life expectancy       550 non-null    object
 22  Explained by: Freedom to make life choices  550 non-null    object
 23  Explained by: Generosity                    550 non-null    object
 24  Explained by: Perceptions of corruption     550 non-null    object
 25  Explained by: GDP per capita                119 non-null    object
dtypes: float64(10), int64(3), object(13)
memory usage: 298.9+ KB

In [6]:
df.columns

Index(['Unnamed: 0', 'Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Social Support',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year', 'Lower Confidence Interval',
       'Upper Confidence Interval', '_merge',
       'Standard error of Happiness score', 'Dystopia score',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Explained by: GDP per capita'],
      dtype='object')

In [7]:
df.describe()

,Unnamed: 0,Happiness Rank,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Standard error of Happiness score,Dystopia score,Explained by: Log GDP per capita
count,1471.000000,1471.000000,316.000000,1352.000000,1352.000000,1352.000000,1352.000000,1351.000000,1352.000000,1471.000000,431.000000,431.000000,431.000000
mean,73.562203,76.377974,0.047885,3.609258,0.982178,21.067211,0.533308,0.319715,0.150181,2018.416044,0.058627,2.072382,1.065443
std,43.289329,44.373307,0.017119,4.022137,0.299720,30.133030,0.224703,0.310142,0.168958,2.684977,0.021493,0.271803,0.460248
min,0.000000,1.000000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,-0.300907,2015.000000,0.025902,1.778000,0.000000
25%,36.000000,38.000000,0.037260,0.799070,0.799000,0.582855,0.377250,0.073500,0.055480,2016.000000,0.043115,1.778000,0.755908
50%,73.000000,76.000000,0.043940,1.208095,0.934872,0.797330,0.521840,0.153066,0.157880,2018.000000,0.055000,1.972317,1.071000
75%,110.000000,114.500000,0.052320,8.263766,1.216430,58.709231,0.711679,0.654779,0.249663,2021.000000,0.068248,2.430000,1.381500
max,157.000000,158.000000,0.136930,11.660000,1.644000,76.953000,0.974998,0.939000,0.838075,2023.000000,0.173000,2.430000,2.200000

### Dropping not needed columns

##### Since the main focus lies on the happiness rank and not on the dystopia data, I am going to drop the following columns: 
Unnamed:0, merge column,Explained by: Log GDP per capita, Explained by: Social support, Explained by: Healthy life expectancy, Explained by: Freedom to make life choices, Explained by: Generosity, Explained by: Perceptions of corruption, Explained by: GDP per capita, Distopia score and Dystopia Residual.

In [8]:
df.drop(columns = ['Unnamed: 0','_merge', 'Dystopia score', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption','Explained by: GDP per capita','Dystopia Residual'])

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,Congo (Kinshasa),Sub-Saharan Africa,133,3.207,NaN,7.00700,0.65200,55.37500,0.66400,0.83400,0.08600,2023,3.02,3.394,0.095
1467,Zimbabwe,Sub-Saharan Africa,134,3.204,NaN,7.64100,0.69000,54.05000,0.65400,0.76600,-0.04600,2023,3.084,3.323,0.061
1468,Sierra Leone,Sub-Saharan Africa,135,3.138,NaN,7.39400,0.55500,54.90000,0.66000,0.85800,0.10500,2023,2.976,3.299,0.082
1469,Lebanon,Middle East and Northern Africa,136,2.392,NaN,9.47800,0.53000,66.14900,0.47400,0.89100,-0.14100,2023,2.305,2.479,0.044
1470,Afghanistan,Southern Asia,137,1.859,NaN,7.32400,0.34100,54.71200,0.38200,0.84700,-0.08100,2023,1.795,1.923,0.033

In [9]:
# creating new subset Happiness
df_happiness = df.drop(columns = ['Unnamed: 0','_merge', 'Dystopia score', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption','Explained by: GDP per capita','Dystopia Residual'])

In [10]:
df_happiness.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015,NaN,NaN,NaN

### Changing Data types

### For further analysis I will change the data type of the following collumns:
Happiness Rank, Happiness Score, Year, Lower Confidence Interval and Upper Confidence Interval

In [11]:
# viewing data types of df
df_happiness.dtypes

Country                               object
Region                                object
Happiness Rank                         int64
Happiness Score                       object
Standard Error                       float64
Economy (GDP per Capita)             float64
Social Support                       float64
Health (Life Expectancy)             float64
Freedom                              float64
Trust (Government Corruption)        float64
Generosity                           float64
Year                                   int64
Lower Confidence Interval             object
Upper Confidence Interval             object
Standard error of Happiness score    float64
dtype: object

In [12]:
# changing year data type from integer to string
df_happiness['Year'] = df_happiness['Year'].astype('str')

In [13]:
df_happiness['Year'].dtype

dtype('O')

In [14]:
# Change the datatype to float for the column Lower Confidence Interval
# The first try to convert the Lower Confidence Interval column to float resulted in an error because some values had a "," instead of the ','. Therefore I rechecherd this solution to convert the values with the ',' to dots and to convert the whole colum to the datatype float.
df_happiness['Lower Confidence Interval']=df_happiness['Lower Confidence Interval'].str.replace('[A-Za-z]', '').str.replace(',', '.').astype(float)

/var/folders/q1/d0sf9cv50yb2q64wy681zzzh0000gn/T/ipykernel_14054/268488307.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_happiness['Lower Confidence Interval']=df_happiness['Lower Confidence Interval'].str.replace('[A-Za-z]', '').str.replace(',', '.').astype(float)

In [15]:
df_happiness['Lower Confidence Interval'].dtype

dtype('float64')

In [16]:
# Change the datatype to float for the column Upper Confidence Interval
# The first try to convert the Upper Confidence Interval column to float resulted in an error because some values had a "," instead of the ','. Therefore I rechecherd this solution to convert the values with the ',' to dots and to convert the whole colum to the datatype float.
df_happiness['Upper Confidence Interval']=df_happiness['Upper Confidence Interval'].str.replace('[A-Za-z]', '').str.replace(',', '.').astype(float)

/var/folders/q1/d0sf9cv50yb2q64wy681zzzh0000gn/T/ipykernel_14054/455130719.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_happiness['Upper Confidence Interval']=df_happiness['Upper Confidence Interval'].str.replace('[A-Za-z]', '').str.replace(',', '.').astype(float)

In [17]:
df_happiness['Upper Confidence Interval'].dtype

dtype('float64')

In [18]:
# chaning the data type of the column "Happiness Rank"
df_happiness['Happiness Rank'] = df_happiness['Happiness Rank'].astype('str')

In [19]:
df_happiness['Happiness Rank'].dtype

dtype('O')

In [20]:
# chaning the data type of the column "Happiness Score"
# The first try to convert the Happiness Score column to float resulted in an error because some values had a "," instead of the ','. Therefore I rechecherd this solution to convert the values with the ',' to dots and to convert the whole colum to the datatype float.
df_happiness['Happiness Score']= df_happiness['Happiness Score'].str.replace('[A-Za-z]', '').str.replace(',', '.').astype(float)

/var/folders/q1/d0sf9cv50yb2q64wy681zzzh0000gn/T/ipykernel_14054/3991807637.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_happiness['Happiness Score']= df_happiness['Happiness Score'].str.replace('[A-Za-z]', '').str.replace(',', '.').astype(float)

In [21]:
df_happiness['Happiness Score'].dtype

dtype('float64')

In [22]:
df_happiness.dtypes

Country                               object
Region                                object
Happiness Rank                        object
Happiness Score                      float64
Standard Error                       float64
Economy (GDP per Capita)             float64
Social Support                       float64
Health (Life Expectancy)             float64
Freedom                              float64
Trust (Government Corruption)        float64
Generosity                           float64
Year                                  object
Lower Confidence Interval            float64
Upper Confidence Interval            float64
Standard error of Happiness score    float64
dtype: object

## Missing values

### Since not every country has surveys in every year and we dont have for example data for the year 2022 for the main columns: Health (Life Expectancy), Social Support, Economy (GDP per Capita), Generosity, Trust (Government Corruption), Freedom I will have to handel the missing values. I chose interpolation to do so.

In [23]:
# finding missing values
df_happiness.isnull().sum()

Country                                 0
Region                                  0
Happiness Rank                          0
Happiness Score                         0
Standard Error                       1155
Economy (GDP per Capita)              119
Social Support                        119
Health (Life Expectancy)              119
Freedom                               119
Trust (Government Corruption)         120
Generosity                            119
Year                                    0
Lower Confidence Interval             615
Upper Confidence Interval             615
Standard error of Happiness score    1040
dtype: int64

In [24]:
# Create a new dataframe
df_nan = df_happiness[df_happiness['Social Support'].isnull() == True]

In [25]:
df_nan

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
1223,Finland,Western Europe,1,7.821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,7.756,7.886,NaN
1224,Denmark,Western Europe,2,7.636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,7.563,7.710,NaN
1225,Iceland,Western Europe,3,7.557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,7.464,7.651,NaN
1226,Switzerland,Western Europe,4,7.512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,7.437,7.586,NaN
1227,Netherlands,Western Europe,5,7.415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,7.359,7.471,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,Tanzania,Sub-Saharan Africa,139,3.702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,3.558,3.847,NaN
1338,Sierra Leone,Sub-Saharan Africa,140,3.574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,3.416,3.732,NaN
1339,Zimbabwe,Sub-Saharan Africa,144,2.995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2.880,3.110,NaN
1340,Lebanon,Middle East and Northern Africa,145,2.955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2.862,3.049,NaN
1341,Afghanistan,Southern Asia,146,2.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2.339,2.469,NaN

### Observation: Most NaNs are connected to the year 2022, as we already suspected. 
### Solution: We will first sort out data by country and year. In That way we have the scores from the different countries in line and sorted by year. And then we use interpolation to close the "data gap". This form of inputation is for our analysis a better use, because the timeframe (2015-2023) is kind of to big and had a lot of different world crisises like corona to just use the mean to fill the gaps.

In [26]:
# Sort df_happniss by country & year
df_happiness.sort_values(['Country', 'Year'])

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
152,Afghanistan,Southern Asia,153,3.5750,0.03084,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,NaN,NaN,NaN
310,Afghanistan,Southern Asia,153,3.5750,0.03084,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,NaN,NaN,NaN
469,Afghanistan,Southern Asia,154,3.3600,NaN,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680,2016,3.288000,3.432000,NaN
608,Afghanistan,Southern Asia,141,3.7940,NaN,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871,2017,3.714338,3.873661,NaN
761,Afghanistan,Southern Asia,145,3.6320,NaN,0.332000,0.537000,0.255000,0.085000,0.036000,0.191000,2018,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,Zimbabwe,Sub-Saharan Africa,146,3.6630,NaN,0.366000,1.114000,0.433000,0.361000,0.089000,0.151000,2019,NaN,NaN,NaN
1071,Zimbabwe,Sub-Saharan Africa,151,3.2992,NaN,7.865712,0.763093,55.617260,0.711458,0.810237,-0.072064,2020,3.184198,3.414202,0.058674
1221,Zimbabwe,Sub-Saharan Africa,148,3.1450,NaN,7.943000,0.750000,56.201000,0.677000,0.821000,-0.047000,2021,3.030000,3.259000,0.058000
1339,Zimbabwe,Sub-Saharan Africa,144,2.9950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2.880000,3.110000,NaN
1467,Zimbabwe,Sub-Saharan Africa,134,3.2040,NaN,7.641000,0.690000,54.050000,0.654000,0.766000,-0.046000,2023,3.084000,3.323000,0.061000

In [27]:
# creating a subset 
df_happiness_sorted = df_happiness.sort_values(['Country', 'Year'])

In [28]:
# interpolate the dataframe
df_happiness_sorted.interpolate()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
152,Afghanistan,Southern Asia,153,3.5750,0.030840,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,NaN,NaN,NaN
310,Afghanistan,Southern Asia,153,3.5750,0.030840,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,NaN,NaN,NaN
469,Afghanistan,Southern Asia,154,3.3600,0.032983,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680,2016,3.288000,3.432000,NaN
608,Afghanistan,Southern Asia,141,3.7940,0.035127,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871,2017,3.714338,3.873661,NaN
761,Afghanistan,Southern Asia,145,3.6320,0.037270,0.332000,0.537000,0.255000,0.085000,0.036000,0.191000,2018,3.311402,3.458531,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,Zimbabwe,Sub-Saharan Africa,146,3.6630,0.042900,0.366000,1.114000,0.433000,0.361000,0.089000,0.151000,2019,3.379899,3.602368,0.063721
1071,Zimbabwe,Sub-Saharan Africa,151,3.2992,0.042900,7.865712,0.763093,55.617260,0.711458,0.810237,-0.072064,2020,3.184198,3.414202,0.058674
1221,Zimbabwe,Sub-Saharan Africa,148,3.1450,0.042900,7.943000,0.750000,56.201000,0.677000,0.821000,-0.047000,2021,3.030000,3.259000,0.058000
1339,Zimbabwe,Sub-Saharan Africa,144,2.9950,0.042900,7.792000,0.720000,55.125500,0.665500,0.793500,-0.046500,2022,2.880000,3.110000,0.059500
1467,Zimbabwe,Sub-Saharan Africa,134,3.2040,0.042900,7.641000,0.690000,54.050000,0.654000,0.766000,-0.046000,2023,3.084000,3.323000,0.061000

In [29]:
df_interpolated = df_happiness_sorted.interpolate()

In [30]:
df_interpolated.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
152,Afghanistan,Southern Asia,153,3.5750,0.030840,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,NaN,NaN,NaN
310,Afghanistan,Southern Asia,153,3.5750,0.030840,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,NaN,NaN,NaN
469,Afghanistan,Southern Asia,154,3.3600,0.032983,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680,2016,3.288000,3.432000,NaN
608,Afghanistan,Southern Asia,141,3.7940,0.035127,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871,2017,3.714338,3.873661,NaN
761,Afghanistan,Southern Asia,145,3.6320,0.037270,0.332000,0.537000,0.255000,0.085000,0.036000,0.191000,2018,3.311402,3.458531,NaN
919,Afghanistan,Southern Asia,154,3.2030,0.039413,0.350000,0.517000,0.361000,0.000000,0.025000,0.158000,2019,2.908466,3.043401,NaN
1073,Afghanistan,South Asia,153,2.5669,0.041557,7.462861,0.470367,52.590000,0.396573,0.933687,-0.096429,2020,2.505530,2.628270,0.031311
1222,Afghanistan,South Asia,149,2.5230,0.043700,7.695000,0.463000,52.493000,0.382000,0.924000,-0.102000,2021,2.449000,2.596000,0.038000
1341,Afghanistan,Southern Asia,146,2.4040,0.045843,7.509500,0.402000,53.602500,0.382000,0.885500,-0.091500,2022,2.339000,2.469000,0.035500
1470,Afghanistan,Southern Asia,137,1.8590,0.047987,7.324000,0.341000,54.712000,0.382000,0.847000,-0.081000,2023,1.795000,1.923000,0.033000

In [31]:
# testing interpolated data for the year 2022
df_test= df_interpolated[df_interpolated['Social Support'].isnull() == True]

In [32]:
df_test

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Year, Lower Confidence Interval, Upper Confidence Interval, Standard error of Happiness score]
Index: []

In [33]:
# finding missing values 
df_interpolated.isnull().sum()

Country                              0
Region                               0
Happiness Rank                       0
Happiness Score                      0
Standard Error                       0
Economy (GDP per Capita)             0
Social Support                       0
Health (Life Expectancy)             0
Freedom                              0
Trust (Government Corruption)        0
Generosity                           0
Year                                 0
Lower Confidence Interval            2
Upper Confidence Interval            2
Standard error of Happiness score    6
dtype: int64

In [34]:
# using loc to extract Afghanistan subset
df_Af = df_interpolated.loc[df_interpolated['Country'] == "Afghanistan"]

In [35]:
df_Af

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
152,Afghanistan,Southern Asia,153,3.5750,0.030840,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,NaN,NaN,NaN
310,Afghanistan,Southern Asia,153,3.5750,0.030840,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,NaN,NaN,NaN
469,Afghanistan,Southern Asia,154,3.3600,0.032983,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680,2016,3.288000,3.432000,NaN
608,Afghanistan,Southern Asia,141,3.7940,0.035127,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871,2017,3.714338,3.873661,NaN
761,Afghanistan,Southern Asia,145,3.6320,0.037270,0.332000,0.537000,0.255000,0.085000,0.036000,0.191000,2018,3.311402,3.458531,NaN
919,Afghanistan,Southern Asia,154,3.2030,0.039413,0.350000,0.517000,0.361000,0.000000,0.025000,0.158000,2019,2.908466,3.043401,NaN
1073,Afghanistan,South Asia,153,2.5669,0.041557,7.462861,0.470367,52.590000,0.396573,0.933687,-0.096429,2020,2.505530,2.628270,0.031311
1222,Afghanistan,South Asia,149,2.5230,0.043700,7.695000,0.463000,52.493000,0.382000,0.924000,-0.102000,2021,2.449000,2.596000,0.038000
1341,Afghanistan,Southern Asia,146,2.4040,0.045843,7.509500,0.402000,53.602500,0.382000,0.885500,-0.091500,2022,2.339000,2.469000,0.035500
1470,Afghanistan,Southern Asia,137,1.8590,0.047987,7.324000,0.341000,54.712000,0.382000,0.847000,-0.081000,2023,1.795000,1.923000,0.033000

### Observation: Since only Values from Afghanistan are missing, I will do another round of interpolation. But this time I am using the limit direction "backward", because by default the interpolation direction is forward and since Afghanistan was the first Country in line the first interpolation function couldn't use the data beforehand to create the filled-in data.

In [36]:
df_interpolated_2 = df_interpolated.interpolate(method ='linear', limit_direction ='backward')

In [37]:
df_interpolated_2.isnull().sum()

Country                              0
Region                               0
Happiness Rank                       0
Happiness Score                      0
Standard Error                       0
Economy (GDP per Capita)             0
Social Support                       0
Health (Life Expectancy)             0
Freedom                              0
Trust (Government Corruption)        0
Generosity                           0
Year                                 0
Lower Confidence Interval            0
Upper Confidence Interval            0
Standard error of Happiness score    0
dtype: int64

## Checking for Duplicates

In [38]:
# looking for duplicates
df_interpolated_2_dups = df_interpolated_2[df_interpolated_2.duplicated()]

In [39]:
# View df_ords_dups
df_interpolated_2_dups

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
310,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.3651,2015,3.288,3.432,0.031311

In [40]:
df_interpolated_2.shape

(1471, 15)

In [41]:
# drop duplicate
df_interpolated_2.drop_duplicates()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
152,Afghanistan,Southern Asia,153,3.5750,0.030840,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,2015,3.288000,3.432000,0.031311
469,Afghanistan,Southern Asia,154,3.3600,0.032983,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680,2016,3.288000,3.432000,0.031311
608,Afghanistan,Southern Asia,141,3.7940,0.035127,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871,2017,3.714338,3.873661,0.031311
761,Afghanistan,Southern Asia,145,3.6320,0.037270,0.332000,0.537000,0.255000,0.085000,0.036000,0.191000,2018,3.311402,3.458531,0.031311
919,Afghanistan,Southern Asia,154,3.2030,0.039413,0.350000,0.517000,0.361000,0.000000,0.025000,0.158000,2019,2.908466,3.043401,0.031311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,Zimbabwe,Sub-Saharan Africa,146,3.6630,0.042900,0.366000,1.114000,0.433000,0.361000,0.089000,0.151000,2019,3.379899,3.602368,0.063721
1071,Zimbabwe,Sub-Saharan Africa,151,3.2992,0.042900,7.865712,0.763093,55.617260,0.711458,0.810237,-0.072064,2020,3.184198,3.414202,0.058674
1221,Zimbabwe,Sub-Saharan Africa,148,3.1450,0.042900,7.943000,0.750000,56.201000,0.677000,0.821000,-0.047000,2021,3.030000,3.259000,0.058000
1339,Zimbabwe,Sub-Saharan Africa,144,2.9950,0.042900,7.792000,0.720000,55.125500,0.665500,0.793500,-0.046500,2022,2.880000,3.110000,0.059500
1467,Zimbabwe,Sub-Saharan Africa,134,3.2040,0.042900,7.641000,0.690000,54.050000,0.654000,0.766000,-0.046000,2023,3.084000,3.323000,0.061000

In [42]:
df_happiness_final = df_interpolated_2.drop_duplicates()

In [43]:
df_happiness_final.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Lower Confidence Interval,Upper Confidence Interval,Standard error of Happiness score
152,Afghanistan,Southern Asia,153,3.575,0.030840,0.319820,0.302850,0.303350,0.23414,0.097190,0.365100,2015,3.288000,3.432000,0.031311
469,Afghanistan,Southern Asia,154,3.360,0.032983,0.382270,0.110370,0.173440,0.16430,0.071120,0.312680,2016,3.288000,3.432000,0.031311
608,Afghanistan,Southern Asia,141,3.794,0.035127,0.401477,0.581543,0.180747,0.10618,0.061158,0.311871,2017,3.714338,3.873661,0.031311
761,Afghanistan,Southern Asia,145,3.632,0.037270,0.332000,0.537000,0.255000,0.08500,0.036000,0.191000,2018,3.311402,3.458531,0.031311
919,Afghanistan,Southern Asia,154,3.203,0.039413,0.350000,0.517000,0.361000,0.00000,0.025000,0.158000,2019,2.908466,3.043401,0.031311

### Saving as a new dataset

In [44]:
# exporting Happiness report data
df_happiness_final.to_csv(os.path.join(path,'Happiness_data_final.csv'))