# 6.1 Cleaning Data PART1: Preparing Data

## Importing libaries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path variable
path = '/Users/mariamaske/World Happiness Data/02 Data/Original Data'

## Preparing the data set
#### The goal of the following code (section) is to create an overall data set from the individual data sets that exist individually for the years 2015-2023.For this purpose, an additional column is added to each data set, which contains the year of the respective data set, so that the development of the happiness score from 2015-2023 can be shown with the total data set.

### Preparing dataset 2015

In [3]:
# Join path orders.csv
df_15 = pd.read_csv(os.path.join(path,'2015.csv'), index_col = False)

In [4]:
df_15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [5]:
# rename columns: Since in the originally published Happiness reports the category is actually called Social Support and not Familiy, I rename this column so that all the datasets can be better merged. 
df_15.rename(columns = {'Family' : 'Social Support'}, inplace = True)

In [6]:
df_15['Year'] = 2015

In [7]:
df_15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

### Preparing dataset 2016

In [8]:
# Join path orders.csv
df_16 = pd.read_csv(os.path.join(path,'2016.csv'), index_col = False)

In [9]:
df_16.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [10]:
# rename columns: Since in the originally published Happiness reports the category is actually called Social Support and not Familiy, I rename this column so that all the datasets can be better merged. 
df_16.rename(columns = {'Family' : 'Social Support'}, inplace = True)

In [11]:
df_16['Year'] = 2016

In [12]:
df_16.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

### Preparing dataset 2017

In [13]:
# Join path orders.csv
df_17 = pd.read_csv(os.path.join(path,'2017.csv'), index_col = False)

In [14]:
df_17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [15]:
# rename column Happiness.Rank to Happiness Rank
df_17.rename(columns = {'Family' : 'Social Support','Happiness.Rank' : 'Happiness Rank','Happiness.Score' : 'Happiness Score','Trust..Government.Corruption.' : 'Trust (Government Corruption)','Health..Life.Expectancy.' : 'Health (Life Expectancy)','Economy..GDP.per.Capita.' : 'Economy (GDP per Capita)', 'Dystopia.Residual' : 'Dystopia Residual', 'Whisker.high' : 'Upper Confidence Interval', 'Whisker.low' : 'Lower Confidence Interval'}, inplace = True)

In [16]:
df_17['Year'] = 2017

In [17]:
# creating a subset with the columns Country and Region from the df_15 dataframe so I can merge the subset with other dataframes like the df_17 dataframe to establish a region column in all dataframes
df_region = df_15[['Country','Region']]

In [18]:
df_region.head()

       Country          Region
0  Switzerland  Western Europe
1      Iceland  Western Europe
2      Denmark  Western Europe
3       Norway  Western Europe
4       Canada   North America

In [19]:
#Merge the two dataframes with 'country' as the key
df_17_merged = df_17.merge(df_region, on = 'Country', indicator = True)

In [20]:
df_17_merged.head()

,Country,Happiness Rank,Happiness Score,Upper Confidence Interval,Lower Confidence Interval,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Year,Region,_merge
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,Western Europe,both
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,Western Europe,both
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,Western Europe,both
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,Western Europe,both
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,Western Europe,both

In [21]:
df_17_merged['_merge'].value_counts()

both          149
left_only       0
right_only      0
Name: _merge, dtype: int64

### Preparing dataset 2018

In [22]:
# Join path orders.csv
df_18 = pd.read_csv(os.path.join(path,'2018.csv'), index_col = False)

In [23]:
df_18.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [24]:
# rename columns
df_18.rename(columns = {'Social support':'Social Support','GDP per capita': 'Economy (GDP per Capita)','Overall rank' : 'Happiness Rank','Score' : 'Happiness Score', 'Country or region':'Country', 'Perceptions of corruption':'Trust (Government Corruption)', 'Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices' : 'Freedom'}, inplace = True)

In [25]:
df_18['Year'] = 2018

In [26]:
#Merge the two dataframes with 'country' as the key
df_18_merged = df_18.merge(df_region, on = 'Country', indicator = True)

In [27]:
df_18_merged.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year,Region,_merge
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,Western Europe,both
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,Western Europe,both
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,Western Europe,both
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,Western Europe,both
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,Western Europe,both

In [28]:
# rename columns
df_18_merged.rename(columns = {'Trust (Government Corruption' : 'Trust (Government Corruption)'}, inplace = True)

In [29]:
df_18_merged['_merge'].value_counts()

both          150
left_only       0
right_only      0
Name: _merge, dtype: int64

### Preparing dataset 2019

In [30]:
# Join path orders.csv
df_19 = pd.read_csv(os.path.join(path,'2019.csv'), index_col = False)

In [32]:
df_19.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [31]:
# rename columns
df_19.rename(columns = {'Social support':'Social Support','GDP per capita':'Economy (GDP per Capita)','Overall rank' : 'Happiness Rank','Score' : 'Happiness Score', 'Country or region':'Country', 'Perceptions of corruption':'Trust (Government Corruption)', 'Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices' : 'Freedom'}, inplace = True)

In [32]:
df_19['Year'] = 2019

In [33]:
#Merge the two dataframes with 'country' as the key
df_19_merged = df_19.merge(df_region, on = 'Country', indicator = True)

In [34]:
df_19_merged.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year,Region,_merge
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019,Western Europe,both
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019,Western Europe,both
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019,Western Europe,both
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019,Western Europe,both
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019,Western Europe,both

In [35]:
df_19_merged['_merge'].value_counts()

both          149
left_only       0
right_only      0
Name: _merge, dtype: int64

### Preparing dataset 2020

In [36]:
# Join path orders.csv
df_20 = pd.read_csv(os.path.join(path,'2020.csv'), index_col = False)

In [37]:
df_20.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [38]:
# rename columns
df_20.rename(columns = {'Social support':'Social Support','Logged GDP per capita' : 'Economy (GDP per Capita)','Standard error of ladder score' : 'Standard error of Happiness score','Ladder score in Dystopia' : 'Dystopia score','Dystopia + residual' : 'Dystopia Residual','Regional indicator' : 'Region','Ladder score' : 'Happiness Score', 'Country name':'Country', 'Perceptions of corruption':'Trust (Government Corruption)', 'Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices' : 'Freedom', 'upperwhisker' : 'Upper Confidence Interval', 'lowerwhisker' : 'Lower Confidence Interval'}, inplace = True)

In [39]:
df_20['Year'] = 2020

In [40]:
df_20.shape

(153, 21)

In [41]:
# Since the df_20 dataframe didn't have the "Happiness Rank"- column I created the column by importing the column from the df_15 dataframe. We dont't need a specific key here because we only want the numbers 1 to 153 in that order.
df_20['Happiness Rank'] = df_19['Happiness Rank']

In [42]:
df_20.head()

,Country,Region,Happiness Score,Standard error of Happiness score,Upper Confidence Interval,Lower Confidence Interval,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,...,Dystopia score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia Residual,Year,Happiness Rank
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,...,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020,1
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,...,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020,2
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,...,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,2020,3
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,...,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,2020,4
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,...,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,2020,5

In [43]:
df_20.shape

(153, 22)

### Preparing dataset 2021

In [44]:
# Join path orders.csv
df_21 = pd.read_csv(os.path.join(path,'2021.csv'), index_col = False)

In [45]:
df_21.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [46]:
# rename columns
df_21.rename(columns = {'Social support':'Social Support','Logged GDP per capita' : 'Economy (GDP per Capita)','Standard error of ladder score' : 'Standard error of Happiness score','Ladder score in Dystopia' : 'Dystopia score','Dystopia + residual' : 'Dystopia Residual','Regional indicator' : 'Region','Ladder score' : 'Happiness Score', 'Country name':'Country', 'Perceptions of corruption':'Trust (Government Corruption)', 'Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices' : 'Freedom', 'upperwhisker' : 'Upper Confidence Interval', 'lowerwhisker' : 'Lower Confidence Interval'}, inplace = True)

In [47]:
df_21['Year'] = 2021

In [48]:
# Since the df_20 dataframe didn't have the "Happiness Rank"- column I created the column by importing the column from the df_15 dataframe. We dont't need a specific key here because we only want the numbers 1 to 153 in that order.
df_21['Happiness Rank'] = df_19['Happiness Rank']

In [49]:
df_21.head()

,Country,Region,Happiness Score,Standard error of Happiness score,Upper Confidence Interval,Lower Confidence Interval,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,...,Dystopia score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia Residual,Year,Happiness Rank
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,...,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021,1
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,...,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2021,2
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,...,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839,2021,3
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,...,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967,2021,4
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,...,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798,2021,5

### Preparing dataset 2022

In [50]:
# Join path orders.csv
df_22 = pd.read_csv(os.path.join(path,'2022.csv'), index_col = False)

In [53]:
df_22.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [51]:
# rename columns
df_22.rename(columns = {'Happiness score':'Happiness Score','Dystopia (1.83) + residual' : 'Dystopia Residual','RANK' : 'Happiness Rank','Whisker-high' : 'Upper Confidence Interval', 'Whisker-low' : 'Lower Confidence Interval'}, inplace = True)

In [52]:
df_22 ['Year'] = 2022

In [53]:
#Merge the two dataframes with 'country' as the key
df_22_merged = df_22.merge(df_region, on = 'Country', indicator = True)

In [54]:
df_22_merged.head()

,Happiness Rank,Country,Happiness Score,Upper Confidence Interval,Lower Confidence Interval,Dystopia Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Region,_merge
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534",2022,Western Europe,both
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532",2022,Western Europe,both
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191",2022,Western Europe,both
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461",2022,Western Europe,both
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419",2022,Western Europe,both

In [55]:
df_22_merged['_merge'].value_counts()

both          119
left_only       0
right_only      0
Name: _merge, dtype: int64

### Preparing dataset 2023

In [56]:
# Join path orders.csv
df_23 = pd.read_csv(os.path.join(path,'2023.csv'), index_col = False)

In [57]:
df_23.head()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110

In [58]:
# rename columns
df_23.rename(columns = {'Social support':'Social Support','Dystopia + residual' : 'Dystopia Residual','Standard error of ladder score' : 'Standard error of Happiness score','Ladder score in Dystopia' : 'Dystopia score','Logged GDP per capita' : 'Economy (GDP per Capita)','Ladder score' : 'Happiness Score', 'Country name':'Country', 'Perceptions of corruption':'Trust (Government Corruption)', 'Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices' : 'Freedom', 'upperwhisker' : 'Upper Confidence Interval', 'lowerwhisker' : 'Lower Confidence Interval'}, inplace = True)

In [59]:
df_23 ['Year'] = 2023

In [60]:
# Since the df_20 dataframe didn't have the "Happiness Rank"- column I created the column by importing the column from the df_15 dataframe. We dont't need a specific key here because we only want the numbers 1 to 153 in that order.
df_23['Happiness Rank'] = df_19['Happiness Rank']

In [61]:
#Merge the two dataframes with 'country' as the key
df_23_merged = df_23.merge(df_region, on = 'Country', indicator = True)

In [62]:
df_23_merged.head()

,Country,Happiness Score,Standard error of Happiness score,Upper Confidence Interval,Lower Confidence Interval,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia Residual,Year,Happiness Rank,Region,_merge
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,...,1.585,0.535,0.772,0.126,0.535,2.363,2023,1,Western Europe,both
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,...,1.548,0.537,0.734,0.208,0.525,2.084,2023,2,Western Europe,both
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,...,1.620,0.559,0.738,0.250,0.187,2.250,2023,3,Western Europe,both
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,...,1.521,0.577,0.569,0.124,0.158,2.691,2023,4,Middle East and Northern Africa,both
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,...,1.488,0.545,0.672,0.251,0.394,2.110,2023,5,Western Europe,both

### Merging data sets

In [63]:
Data= df_15.append([df_15,df_16,df_17_merged,df_18_merged,df_19_merged,df_20,df_21,df_22_merged, df_23_merged])
x = Data.iloc[:, [3]].values

/var/folders/q1/d0sf9cv50yb2q64wy681zzzh0000gn/T/ipykernel_11580/1745812281.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Data= df_15.append([df_15,df_16,df_17_merged,df_18_merged,df_19_merged,df_20,df_21,df_22_merged, df_23_merged])

In [64]:
Data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,_merge,Standard error of Happiness score,Dystopia score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Explained by: GDP per capita
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
Data.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Social Support',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year', 'Lower Confidence Interval',
       'Upper Confidence Interval', '_merge',
       'Standard error of Happiness score', 'Dystopia score',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Explained by: GDP per capita'],
      dtype='object')

### Saving as a new dataset

In [66]:
# Assign path 2 variable
path2 = '/Users/mariamaske/World Happiness Data/02 Data'

In [67]:
# exporting Happiness report data
Data.to_csv(os.path.join(path2,'Prepared Data', 'Happiness_data_complete.csv'))